<div class="header">
  <div class="profile container">
      <img src="{{ "/img/profile.jpg" | prepend: site.baseurl }}" class='profile-img' alt="My face should have loaded here :(">
      <div class="name-plate">
        Erik Farmer <br/>
        Programmer
      </div>
  </div>
</div>
<div class="container">
  <div class="social-links">
    <a href="https://www.linkedin.com/in/farmere" target="_blank">
       <i id="icon" class="fa fa-linkedin-square md-fa-icon"></i>
    </a>
    <a href="https://github.com/erik-farmer" target="_blank">
<!--       <div class="icon-wrapper">
        <i class="fa fa-github-square"></i>
      </div> -->
      <i id="icon" class="fa fa-github-square md-fa-icon"></i>
    </a>
    <a href="/assets/erik-farmer-webdev.pdf">
      <i id="icon" class="fa fa-file-text-o md-fa-icon"></i>
    </a>
  </div>
</div>