<div class="header">
  <div class="profile container">
      <img src="{{ "/img/profile.jpg" | prepend: site.baseurl }}" class='profile-img' alt="My face should have loaded here :(">
      <div class="name-plate">
        Erik Farmer <br/>
        Programmer
      </div>
  </div>
</div>
<div class="link-wrapper container">
  <ul class="social-links">
    <li class="icon-wrapper">
      <a href="https://www.linkedin.com/in/farmere" target="_blank">
        <i class="fa fa-linkedin-square"></i>
      </a>
    </li>
    <li class="icon-wrapper">
      <a href="https://github.com/erik-farmer" target="_blank">
        <i class="fa fa-github-square"></i>
      </a>
    </li>
    <li class="icon-wrapper">
      <a href="/assets/erik-farmer-webdev.pdf">
        <i class="fa fa-file-text-o"></i>
      </a>
    </li>
  </ul>
</div>