<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="card">
              <h2>{{ page.title }}</h2>
              <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time>
              {{ content }}
              <a class="back-link" href="/">back</a>
            </div>
          </div>
        </div>
      </div>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        var current_location = document.location.hostname;
        var is_local_dev = (current_location != 'localhost' || current_location != '127.0.0.1')
        if (is_local_dev) {
          ga('create', 'UA-42880425-4', 'auto');
          ga('send', 'pageview');
        }

      </script>
  </body>
</html>